/* - copernicusLand.css - */
body {
    font-size: 13px;
    color: #333;
    background: #F5F6F7;
}
abbr, html\:abbr {
    border-bottom:1px dashed #CCC;
    cursor:help;
}

h1, h2 {
    letter-spacing: 0em;
}

h3 {
    font-size: 16px;
}

#visual-portal-wrapper {
    margin: 0px auto;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 1px 3px #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
a:focus,
a:hover,
a:active,
#content-core a {
    color: #08C;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color: #555;
}

#portal-header {
    overflow: hidden;
}
.top-menu {
    width: 100%;
    float: left;
    margin: 10px 0px 10px;
}
.top-menu ul {
    text-align: right;
    font-size: 11px;
    margin-right:10px; /*50px;*/
}
.top-menu li {
    padding: 0px 6px;
    border-left: 1px solid #749AC4;
}
.top-menu li:first-of-type {
    border-left: 0px;
}
#portal-searchbox {
    width: auto;
    float: right;
    display: none;
}
#site-identity {
    z-index: -1;
    margin-top: -16px;
}
#portal-logo {
    margin: 0px;
    float: right;
    padding-right: 60px;
    margin-top: 14px;
}
#portal-title-container {
    width: 57%;
    display: inline-block;
    margin-left: 10px;
}
#portal-title h1 {
    color: #A0B228;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: normal;
}

#portal-title a,
#portal-title a:hover {
    color: #A0B228;
    text-decoration: none;
}

#copernicus-logo {
    width: 155px;
    display: inline-block;
    float: right;
    margin-right: 60px;
}
#copernicus-logo a[target="_blank"] {
    background: none;
    padding-left: 0px;
}
.stripe {
    background: #BFD630;
    height: 55px;
    z-index: 0;
    margin-top: -35px;
}

#portal-breadcrumbs {
    min-height: 18px;
    color: #616161;
    margin: 0;
    padding: 0px 0px 0px 10px;
    overflow: hidden;
    line-height: 1.6;
    font-size: 11px;
    background: #BFD630;
    box-shadow: 0px 1px 3px #888;
    margin-bottom: 4px;
}
#portal-breadcrumbs a,
.breadcrumbSeparator {
    color: #616161;
}
/* */
#content {
    font-size: 100%;
}
#content ul {
    /* list-style-type: none; */
}
#content .download-field ul,
#content .webservices-field ul {
    margin-left: 0px;
}
#portal-columns {
    margin: 15px 0px 20px; /* redesign*/
    padding: 0px 10px;
}
#tabbed-portlet {
    height: auto;
    float: left;
}
#user-corner-portlet {
    float: left;
    margin-left: 15px;
}
#user-corner-portlet .portletHeader {
    color: #555;
    padding-top: 8px;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 3px solid #A0B228;
    margin-bottom: 10px;
}

#user-corner-portlet .portletHeader h3 {
    margin-top: 5px;
}

#user-corner-portlet dl.portlet dd.portletItem {
    padding: 5px;
    font-size: 12px;
}
body #nav {
    background: #FFF;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
}
#nav li {
    float: left;
    margin-right: 10px;
}

#nav h2 {
    font-size: 16px;
}

#nav a {
    display: block;
    padding: 5px 10px 0px;
    color: #555;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#nav .selected a,
#nav .selected a:hover {
    color: #fff;
    background: #A0B228;
}
#nav a:hover {
    background: #BFD630;
}
.tabbed-content .heading {
    margin: 10px 0px;
    width: 90%;
    float: left;
}
.tabbed-content .printButton {
    display: inline-block;
    padding-top: 7px;
    float: right;
    margin: -21px 10px 0;
}
.tabbed-content .printButton img {
    margin-right: 3px;
}
.tabbed-content .description {
    padding: 10px 0px;
}
.photoAlbumEntry {
    width: 166px; /*175px;*/ /*  decrease width so that 5 thumbnails will fit on a row, instead of only 4 */
    float: left;
    margin-right: 10px;
    background: none;
    padding: 0px;
    text-align: left;
}
.photoAlbumEntry img {
    width: 156px; /*160px; */
    height: 117px; /*120px; */  /* and we kept the 4:3 image ratio*/
    margin: 0;
    padding: 3px;
}
.photoAlbumEntry img:hover {
    background: #F5F6F7;
}
.photoAlbumEntry a {
    width: 100%;
    display: block;
}
.photoAlbumEntryTitle {  /* */
    font-size: 13px;
    color: #427597;
    width: 96%;
    font-weight: bold;
}
#content .documentDescription {
    margin-top: 15px;
    font-weight: normal;
    font-size: 13px;
    white-space: pre-wrap;
}
#content a:visited,
dl.portlet a:visited { /* */
    border-bottom: 0px;
    text-decoration: underline;
}
#content a:hover,
dl.portlet a:hover {
    color: #427597 !important; /* */
}
#content a:link,
dl.portlet a:link,
#content a.link-overlay { /**/
    border-bottom: 0px !important;
}
#portal-sitemap li {
    /*background: url(/arrow.png) no-repeat;*/
    background-position: 0px 14px;
}
#portal-sitemap li li {
    background-position: 0px 4px;
    padding-left: 15px;
}
#content-core table th {
    border: 1px solid #999;
    padding: 2px 5px;
}
#content-core table td {
    border: 1px solid #999;
    padding: 5px;
}
#land-use-cases td:first-of-type {
    width: 40%;
}
.external-pdf img {
    padding-right: 5px;
}
#content ul.formTabs {
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid #BFD630;
    margin-top: 8px;
}
body #content li.formTab a {
    color: #616161;
    font-weight: bold;
}
#content-core li.formTab a {
    line-height:20px !important;
}
#content li.formTab a.selected,
#content li.formTab a.selected:hover {
    background: #BFD630;
    color: #616161;
    border-radius: 0px;
}
#content li.formTab a:hover {
    background: #BFD630;
    color: #616161 !important; /**/
    border-radius: 0px;
}
/* */
.documentEditable {
    margin-top: 5px;
}
#edit-bar {
    padding-bottom: 3px;
}
/* */
body #portal-footer-wrapper {
    margin: 0 auto;
    padding: 10px 0px 10px;
    float: none;
    text-align: left;
}
#portal-footer-wrapper ul {
    font-size: 11px;
    padding-bottom: 5px;
    width: 400px;
    float: left;
}
#portal-footer-wrapper li {
    padding: 0px 6px;
    border-left: 1px solid #749AC4;
}
#portal-footer-wrapper .first {
    border-left: 0px;
}
.login-req-warning {
   display: block;
   position: absolute;
   bottom: 14%;
   right: 2%;
   float: right;
   color: #999;
}

/*  REDESIGN */
ul.partners-logos {
    width: auto;
}

ul.partners-logos li {
    border: 0px;
    margin-right: 15px;
    display:inline !important
}

ul.partners-logos a {
    display: inline-block;
    vertical-align: top;
}

body .partners-logos label {
    font-weight: normal;
    margin-top: 35px;
    display: inline-block;
    width: 73px;
}

.partners-logos .EC {
    height: 96px;
}

.portlet-static-partners {
    overflow:hidden;
}

.global-nav-menu {
    border-bottom: 3px solid #A0B228;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

.external-link a {
    background: url(link_icon.gif) no-repeat 0px 3px;
    padding-left: 20px;
}

#edit-bar {
  min-height: 24px;
}


/*  RESPONSIVE LAYOUT + changes from #17266 */
#visual-portal-wrapper ,
#portal-footer-wrapper {
    width: 1220px; /*1200px;*/
}

#tabbed-portlet {
    width: 76%;
}

#user-corner-portlet {
    width: 21%;
    float: right;
    margin-right: 9px;
}

.widen {
    width: 100%;
}

#portal-columns {
    margin: 0px 0px 20px;
}

#tabbed-portlet #content dd {
    margin-left: 0px;
}

#portal-logo {
    padding-right: 96px;
}


@media screen and (max-width: 1200px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 1165px;
  }
}

@media screen and (max-width: 1152px) {
    #visual-portal-wrapper,
    #portal-footer-wrapper {
        width: 1120px;
    }

    .partners-logos a {
        margin-bottom: 15px;
   }
}

@media screen and (max-width: 1093px) {
    #visual-portal-wrapper,
    #portal-footer-wrapper {
        width: 1072px;
    }
}

@media screen and (max-width: 1080px) {
    #visual-portal-wrapper,
    #portal-footer-wrapper {
        width: 1064px;
    }
}

@media screen and (max-width: 1024px) {
    #visual-portal-wrapper,
    #portal-footer-wrapper {
        width: 990px;
    }

    #visual-portal-wrapper {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid #DDD;
    }

    #portal-logo {
        padding-right: 48px;
    }

    .partners-logos .EEA {
        margin-top: 20px;
    }

    #tabbed-portlet {
        width: 97.5%;
    }

    #user-corner-portlet {
        float: left;
        width: 40%;
    }

}


/*  iPad mini portrait mode */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (resolution: 163dpi) {

    #visual-portal-wrapper,
    #portal-footer-wrapper {
        width: 734px;
    }

    #tabbed-portlet {
        width: 732px;
    }

    #user-corner-portlet {
        float: none;
        clear: both;
    }

    #portal-logo {
        padding-right: 5px;
    }

    #portal-title-container {
        width: 65%;
    }

    .top-menu ul {
        margin-right: 0px;
    }

    #portal-columns {
        padding: 0px;
    }

    .tabbed-content .printButton {
        float: none;
        margin: 0px;
    }

    #content dd {
        margin: 0 0 1em 1em;
    }

    #portal-footer-wrapper ul {
        float: none;
    }

    .partners-logos .EEA {
      margin-top: 20px;
    }
}


/* Enlarge map on smaller resolutions */
@media screen and (max-width: 976px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 946px;
  }
}

@media screen and (max-width: 962px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 930px;
  }
}

@media screen and (max-width: 960px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 948px;
  }

  #portal-footer-wrapper ul {
    width: 100%;
  }
}

@media screen and (max-width: 854px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 825px;
  }
}

@media screen and (max-width: 800px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 720px;
  }

  #tabbed-portlet {
    width: 700px;
  }
}

@media screen and (max-width: 640px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 610px;
  }

  #tabbed-portlet {
    width: 595px;
  }

  #user-corner-portlet {
    width: 50%;
  }

  #contentActionMenus {
    width: 98%;
    margin-top: 5px;
    margin-right: 11px;
  }

  .tabbed-content .printButton {
    display: none;
  }

  #nav li {
    margin-right: 0;
  }
}

@media screen and (max-width: 619px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 590px;
  }

  #tabbed-portlet {
    width: 575px;
  }

  #nav li {
    margin-right: 0;
  }
}

@media screen and (max-width: 593px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 560px;
  }

  #tabbed-portlet {
    width: 545px;
  }

  #nav li {
    margin-right: 0;
  }
}

@media screen and (max-width: 568px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 540px;
  }

  #tabbed-portlet {
    width: 525px;
  }

  #nav li {
    margin-right: 0;
  }
}

@media screen and (max-width: 487px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 456px;
  }

  #tabbed-portlet {
    width: 430px;
  }

  #portal-title-container {
    width: 100%;
  }

  #portal-title h1 {
    font-size: 26px;
  }

  #user-corner-portlet {
    width: 70%;
  }

  #nav li {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  #visual-portal-wrapper,
  #portal-footer-wrapper {
    width: 430px;
  }

  #tabbed-portlet {
    width: 420px;
  }

  #portal-footer-wrapper ul li {
    display: block;
    border-left: 0;
  }

  #nav li {
    margin-right: 0;
  }

  /* overrides lines 6-12 of Plone's mobile.css, which were hiding 98% of page content, on 480px mobile screens */
  #portal-column-one,
  #portal-column-two,
  #portal-column-content {
    margin-left: 0;
  }

  body .loading_message {
    width: 80%;
    margin: 0 auto;
  }

  body #squaresWaveG {
    left: 95px;
  }
}

.newsItem {
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}

.newsContent {
 float: left;
  width: 60%;
  margin-right: 12px;
}

.newsAbout {
  float: right;
  width: 30%;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.publication_view {
    float: left;
    width: 60%;
    margin-right: 12px;
}
.publication_cover {
    float: right;
    width: 20%;
}
.image_cover {
    float: right;
}
#personaltools-join {
    padding-left: 5px;
    border-left: 1px solid #749AC4;
}



/* Registration form styles */
.kssattr-formname-register .field {
    position: relative;
    overflow: hidden;
}

.kssattr-formname-register .field label span:first-child {
    float: left;
    text-align: right;
    width: 17%;
}

.kssattr-formname-register .formHelp {
    float: right;
    width: 79%;  /* fix text indentation left */
    right: 0px;
    bottom: 0px;
    margin-top: 3em;
}

.kssattr-formname-register .widget {
    text-align: left;
    width: 80%;
    top: 5%;
    position: absolute;
    right: 0;
}

#formfield-form-thematic_domain .widget, #formfield-form-institutional_domain .widget {
    text-align: left;
    width: 80%;
    right: 0;
    position: relative;
    float: right;
    margin-top: -15px;
}

#formfield-form-fullname span:first-child,
#formfield-form-username span:first-child,
#formfield-form-email span:first-child {
    margin-top: 8px;  /* fix vertical center label to input */
}

#formfield-form-username span.required::after,
#formfield-form-email span.required::after {
    position: absolute;
    margin-top: 8px;  /* fix vertical center red square to text */
}

.checkboxType {
    /* fix vertical center label */
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden;
}

/* Terms of use */
#formfield-form-disclaimer {
    height: 50px;
    width: 19%;
    display: inline;
    float: left;
}

#formfield-form-disclaimer label span:first-child {
    display: none;
}

#formfield-form-disclaimer .widget {
    text-align: left;
    width: 100%;
    top: 5%;
    position: absolute;
    left: 0;
    margin-top: 20px;
}

#formfield-form-disclaimer label {
    vertical-align: top;
    text-align: left;
}

#formfield-form-disclaimer .formHelp {
    display: none;  /* Hide Accept terms of use Description */
}

#formfield-form-disclaimer input {
    width: 20px !important;
    text-align: left;
    margin-top: 3px;
}

/* Register button */
.actionButtons input {
    display: inline;
    margin-left: 10px;
    margin-top: 15px;
    background-color: #50AEEC;
    border-radius: 5px;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 2px solid #999999;
    font-size: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-weight: bold;
}

.actionButtons input:hover {
    background-color: #205c90
}

/* Horizontal Line Top */
#formfield-form-fullname:before {
    border-top: 1px solid #999999;
    width: 100%;
    height: 99%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}

#formfield-form-fullname {
    padding-top: 20px; /* fix space for line */
}

#formfield-form-fullname input {
    margin-top: 20px; /* fix space for line */
}

/* Horizontal Line Bottom */
#formfield-form-institutional_domain:after {
    border-top: 1px solid #999999;
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}

#formfield-form-institutional_domain .widget {
    margin-bottom: 20px; /* fix space for line */
}
