/*  copernicusLand.css version 2: EEA + Copernicus logos in the header */

/*  GENERAL*/
body {
	font-size: 13px;
	color: #333;
	background: #F5F6F7;
}

abbr, html\:abbr {
    border-bottom:1px dashed #CCC;
    cursor:help;
}

#visual-portal-wrapper ,
#portal-footer-wrapper {
	width: 990px;
}

#visual-portal-wrapper {
	margin: 0px auto;
	overflow: hidden;
	background: #FFF;
	box-shadow: 0px 1px 3px #999;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

a:focus,
a:hover,
a:active,
#content-core a {
	color: #08C;
	text-decoration: underline;
}

a[target="_blank"] {
	background: url(link_icon.gif) no-repeat 0px 3px;
	padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
}

h2 {
	font-size: 20px;
}


/*  HEADER*/
#portal-header {
	overflow: hidden;
}

.top-menu {
	width: 100%; /*80%; if we have search box */
	float: left;
	margin: 18px 0px 15px;
}

.top-menu ul {
	text-align: right;
	font-size: 11px;
	margin-right:  10px;
}

.top-menu li {
	padding: 0px 6px;
	border-left: 1px solid #749AC4;
}

.top-menu li:first-of-type {
	border-left: 0px;
}

#portal-searchbox {
	width: auto;
	float: right;
	display: none;
}

#site-identity {
	z-index: 100;
	margin-top: -16px;
}

#portal-logo {
	margin: 0px;
	float: left;
	padding-left: 20px;
}

#portal-title-container {
	width: 77%;
	display: inline-block;
	margin-left: 20px;
	margin-top: 30px;
	float: right;
}

#portal-title {
	color: #A0B228;
	font-size: 26px;
	height: 52px;
	float: left;
	padding-top: 15px;
}

#copernicus-logo {
	width: 155px;
	display: inline-block;
	float: right;
	margin-right: 60px;
}

#copernicus-logo a[target="_blank"] {
	background: none;
	padding-left: 0px;
}

.stripe {
	background: #BFD630;
	height: 55px;
	z-index: 0;
	margin-top: -35px;
}

#EEA-logo {
	background: url(EEA_logo.png) 90% 0% no-repeat;
	float: right;
	margin-top: 6px;
	padding-right: 3px;
	height: 43px;
	width: 212px;
	padding-left: 0px;
}

#portal-breadcrumbs {
	background: #A0B228;
	min-height: 18px;
	color: #FFF;
	margin: 0;
	padding: 0px 0px 0px 10px;
	overflow: hidden;
	line-height: 1.6;
	font-size: 11px;
}

#portal-breadcrumbs a,
.breadcrumbSeparator {
	color: #FFF;
}


/*  CONTENT */
#content {
	font-size: 100%;
}

#content ul {
	list-style-type: none; /*  might not be suitable for every page*/
}

#content .download-field ul,
#content .webservices-field ul {
	margin-left: 0px;
}

#portal-columns {
	margin: 20px 0px 20px;
	padding: 0px 10px;
}

#tabbed-portlet {
	height: auto;
	width: 750px;
	float: left;
}

#user-corner-portlet {
	float: left;
	margin-left: 15px;
	width: 195px;
}

#user-corner-portlet .portletHeader {
	color: #555;
	padding-top: 8px;
	font-weight: normal;
	font-size: 16px;
	border-bottom: 3px solid #A0B228;
	margin-bottom: 10px;
}

#user-corner-portlet dl.portlet dd.portletItem {
	padding: 5px;
	font-size: 12px;
}

#nav {
	background: #FFF;
	overflow: hidden;
	border-bottom: 3px solid #A0B228;
}

#nav li {
	float: left;
	margin-right: 10px;
}

#nav a {
	display: block;
	padding: 5px 10px;
	color: #555;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

#nav .selected a,
#nav .selected a:hover {
	background: #A0B228;
	color: #fff;
}

#nav a:hover {
	background: #BFD630;
}

.tabbed-content .heading {
	margin: 10px 0px;
	width: 90%;
	float: left;
}

.tabbed-content .printButton {
	margin: 10px;
	display: inline-block;
	padding-top: 7px;
	float: right;
	margin-top: -33px;
}

.tabbed-content .printButton img {
	margin-right: 3px;
}

.tabbed-content .description {
	padding: 10px 0px;
}

.photoAlbumEntry {
	width: 175px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	/*background-image: none;*/
	background: none;
	padding: 0px;
	text-align: left;
}

.photoAlbumEntry img {
	width: 160px;
	height: 120px;
	margin: 0;
	padding: 3px;
}

.photoAlbumEntry img:hover {
	background: #F5F6F7;
}

.photoAlbumEntry a {
	width: 100%;
	display: block;
}

.photoAlbumEntryTitle {  /* span */
	font-size: 13px;
	color: #427597;
	width: 96%;
	font-weight: bold;
}

#content .documentDescription {
	margin-top: 15px;
	font-weight: normal;
	font-size: 13px;
}

#content a:visited,
dl.portlet a:visited { /* overrides public.css:505 */
	border-bottom: 0px;
	text-decoration: underline;
}

#content a:hover,
dl.portlet a:hover {
	color: #427597 !important; /* overrides public.css:505 */
}

#content a:link,
dl.portlet a:link,
#content a.link-overlay { /* overrides public.css:499*/
	border-bottom: 0px !important;
}

#portal-sitemap li {
	background: url(arrow.png) no-repeat;
	background-position: 0px 14px;
}

#portal-sitemap li li {
	background-position: 0px 4px;
	padding-left: 15px;
}

#content-core table th {
	background: #DDD;
	border: 1px solid #999;
	padding: 2px 5px;
}

#content-core table td {
	border: 1px solid #999;
	padding: 5px;
}

#land-use-cases td:first-of-type {
	width: 40%;
}

.external-pdf img {
	padding-right: 5px;
}


/* SECOND TABBED MENU*/
#content ul.formTabs {
	background-color: #fff;
	border: 0px;
	border-bottom: 1px solid #BFD630;
	margin-top: 8px;
}

body #content li.formTab a {
	color: #616161;
	font-weight: bold;
}

#content li.formTab a.selected,
 #content li.formTab a.selected:hover {
	background: #BFD630;
	color: #616161;
	border-radius: 0px;
}

#content li.formTab a:hover {
	background: #BFD630;
	color: #616161 !important; /* overrides public.css:510, which has !important*/
	border-radius: 0px;
}


/*  ADMIN INTERFACE */
.documentEditable {
	margin-top: 5px;
}

#edit-bar {
	padding-bottom: 3px;
}


/*  FOOTER */
#portal-footer-wrapper {
	margin: 0 auto;
	padding: 10px 0px 10px;
	float: none;
}

#portal-footer-wrapper ul {
	font-size: 11px;
	padding-top: 5px;
}

#portal-footer-wrapper li {
	padding: 0px 6px;
	border-left: 1px solid #749AC4;
}

#portal-footer-wrapper .first {
	border-left: 0px;
}
