dl.portalMessage.info {
  border: 1px solid #3E6A95;
}

dl.portalMessage.info dt {
  background-color: #6289AF;
}

dl.portalMessage.info dd {
  background-color: #d0dce7;
}

#edit-bar {
  background-color: #783F34;
  border-color: #783F34;
}
/* content actions menu used also in search */
#contentActionMenus {
  background-color: #783F34;
  float: right;
  margin: 0;
  position: relative;
  top: -0.23em;
  right:-0.24em;
  padding: 0.1em 0.24em 0 0;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  -webkit-border-radius: 0.5em;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 0.5em;
  -moz-border-radius-topleft: 0;
}

.actionMenuContent {
  padding: 0 0.25em;
}

dl.actionMenu {
  float: right;
  white-space: nowrap;
  position: relative;
  margin-left: 0.5em;
}
dl.actionMenu a,
dl.actionMenu div {
  display: block !important;
  white-space: nowrap;
}
dl.actionMenu dt {
  font-weight: normal;
}
span.arrowDownAlternative {
  font-size: 80%;
}
dl.actionMenu.deactivated dt {
  margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
  display: none;
}
dl.actionMenu.activated dd {
  position: absolute;
  width: auto;
  min-width: 100%;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
  margin: 0 0.25em;
}

/* @end */

#contentActionMenus {
  margin-right: 5px;
}

#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
  background-color: #783F34;
}

#contentActionMenus dl.actionMenu.activated dd {
  border-bottom: 0.5em solid #783F34;
}

#breadcrumbs-you-are-here {
  color: #555555 !important;
}

body {
  font-size: 13px;
  color: #333333;
  background: #F1F1F1;
}
abbr, html\:abbr {
  border-bottom: 1px dashed #CCCCCC;
  cursor: help;
}

h1, h2 {
  letter-spacing: 0em;
}

h3 {
  font-size: 16px;
}

a:focus,
a:hover,
a:active,
#content-core a {
  color: #783F34;
  text-decoration: underline;
}

#content-core a {
  font-weight: bold;
  text-decoration: none;
}

#content-core a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555;
}

#portal-header {
  overflow: hidden;
}

.top-menu {
  width: 100%;
  float: left;
  margin: 10px 0px 10px;
}

.top-menu ul {
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

.top-menu li {
  padding: 0px 6px;
  border-left: 1px solid #6289af;
}

.top-menu li:first-of-type {
  border-left: 0px;
}

#portal-searchbox {
  width: auto;
  float: right;
  display: none;
}

#site-identity {
  z-index: -1;
  margin-top: -16px;
}

#portal-logo {
  margin: 0px;
  float: right;
  padding-right: 60px;
  margin-top: 14px;
}

#portal-title-container {
  width: 57%;
  display: inline-block;
  margin-left: 10px;
}

#portal-title h1 {
  color: #783f34;
  font-size: 28px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: normal;
}

#portal-title a,
#portal-title a:hover {
  color: #783f34;
  text-decoration: none;
}

#copernicus-logo {
  width: 155px;
  display: inline-block;
  float: right;
  margin-right: 60px;
}

#copernicus-logo a[target="_blank"] {
  background: none;
  padding-left: 0px;
}

.stripe {
  background: #FFCE86;
  height: 55px;
  z-index: 0;
  margin-top: -35px;
}

#portal-breadcrumbs {
  min-height: 18px;
  color: #555555;
  margin: 0;
  padding: 0px 0px 0px 10px;
  overflow: hidden;
  line-height: 1.6;
  font-size: 11px;
  background: #FFCE86;
  box-shadow: 0px 1px 3px #888888;
  margin-bottom: 4px;
}

#portal-breadcrumbs a,
.breadcrumbSeparator {
  color: #555555;
}

#content {
  font-size: 100%;
}

#content .download-field ul,
#content .webservices-field ul {
  margin-left: 0px;
}

#portal-columns {
  margin: 15px 0px 20px;
  padding: 0px 10px;
}

#tabbed-portlet {
  height: auto;
  float: left;
}

#user-corner-portlet {
  float: left;
  margin-left: 15px;
}

#user-corner-portlet .portletHeader {
  color: #555555;
  padding-top: 8px;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 3px solid #783f34;
  margin-bottom: 10px;
}

#user-corner-portlet .portletHeader h3 {
  margin-top: 5px;
}

#user-corner-portlet dl.portlet dd.portletItem {
  padding: 5px;
  font-size: 12px;
}

#user-corner-portlet a.eagle-link {
  margin-left: 20px;
}

body #nav {
  background: #FFFFFF;
  overflow: hidden;
  padding: 0px;
  margin-top: 0px;
}

#nav li {
  float: left;
  margin-right: 10px;
}

#nav h2 {
  font-size: 16px;
}

#nav a {
  display: block;
  padding: 5px 10px 0px;
  color: #555555;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#nav .selected a,
#nav .selected a:hover {
  color: #FFFFFF;
  background: #783f34;
}

#nav a:hover {
  background: #FFCE86;
}

.tabbed-content .heading {
  margin: 10px 0px;
  width: 90%;
  float: left;
}

.tabbed-content .printButton {
  display: inline-block;
  padding-top: 7px;
  float: right;
  margin: -21px 10px 0;
}

.tabbed-content .printButton img {
  margin-right: 3px;
}

.tabbed-content .description {
  padding: 10px 0px;
}

.photoAlbumEntry {
  width: 166px;
  float: left;
  margin-right: 10px;
  background: none;
  padding: 0px;
  text-align: left;
}

.photoAlbumEntry img {
  width: 156px;
  height: 117px;
  margin: 0;
  padding: 3px;
}

.photoAlbumEntry img:hover {
  background: #E1E4E7;
}

.photoAlbumEntry a {
  width: 100%;
  display: block;
}

.photoAlbumEntryTitle {
  font-size: 13px;
  color: #3E6A95;
  width: 96%;
  font-weight: bold;
}

#content .documentDescription {
  margin-top: 15px;
  font-weight: normal;
  font-size: 13px;
  white-space: pre-wrap;
  color: #333333;
  font: 100% Arial, FreeSans, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 19.5px;
}

#content a:visited,
dl.portlet a:visited { /* */
  border-bottom: 0px;
  text-decoration: underline;
}

#content a:link,
dl.portlet a:link,
#content a.link-overlay { /**/
  border-bottom: 0px; /* !important; [TODO] check search-by-tags tags btns */
}

#portal-sitemap li {
  /*background: url(/arrow.png) no-repeat;*/
  background-position: 0px 14px;
}

#portal-sitemap li li {
  background-position: 0px 4px;
  padding-left: 15px;
}

#content-core table th {
  border: 1px solid #999999;
  padding: 2px 5px;
}

#content-core table td {
  border: 1px solid #999999;
  padding: 5px;
}

#content-core table.table-borderless th,
#content-core table.table-borderless td {
  border: 0;
}

#content-core table.table-borderless th {
  width: 25%;
}

#content-core table.table-borderless th[colspan] {
  border-top: 1px solid #999;
  width: 100%;
}

#land-use-cases td:first-of-type {
  width: 40%;
}

.external-pdf img {
  padding-right: 5px;
}

#content ul.formTabs {
  background-color: #FFFFFF;
  border: 0px;
  border-bottom: 1px solid #FFCE86;
  margin-top: 8px;
}

body #content li.formTab a {
  color: #555555;
  font-weight: bold;
}

#content-core li.formTab a {
  line-height:20px !important;
}

#content li.formTab a.selected,
#content li.formTab a.selected:hover {
  background: #FFCE86;
  color: #555555;
  border-radius: 0px;
}

#content li.formTab a:hover {
  background: #FFCE86;
  color: #555555 !important;
  border-radius: 0px;
}

.documentEditable {
  margin-top: 5px;
}

#edit-bar {
  padding-bottom: 3px;
}

body #portal-footer-wrapper {
  margin: 0 auto;
  padding: 10px 0px 10px;
  float: none;
  text-align: left;
}

#portal-footer-wrapper ul {
  font-size: 11px;
  padding-bottom: 5px;
  width: 400px;
  float: left;
}

#portal-footer-wrapper li {
  padding: 0px 6px;
  border-left: 1px solid #6289af;
}

#portal-footer-wrapper .first {
  border-left: 0px;
}

.login-req-warning {
  display: block;
  position: absolute;
  bottom: 14%;
  right: 2%;
  float: right;
  color: #999999;
}

/*  REDESIGN */
ul.partners-logos {
  width: auto;
}

ul.partners-logos li {
  border: 0px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

ul.partners-logos a {
  display: inline-block;
  vertical-align: top;
}

body .partners-logos label {
  font-weight: normal;
  margin-top: 35px;
  display: inline-block;
  width: 73px;
}

.partners-logos .EC {
  height: 96px;
}

.portlet-static-partners {
  overflow: hidden;
}

.global-nav-menu {
  border-bottom: 3px solid #783f34;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

.external-link a {
  background: url(link_icon.gif) no-repeat 0px 3px;
  padding-left: 20px;
}

#edit-bar {
  min-height: 24px;
}


#tabbed-portlet {
  width: 76%;
}

#user-corner-portlet {
  width: 21%;
  float: right;
  margin-right: 9px;
}

.widen {
  width: 100%;
}

#portal-columns {
  margin: 0px 0px 20px;
}

#tabbed-portlet #content dd {
  margin-left: 0px;
}

#portal-logo {
  padding-right: 96px;
}

.newsItem {
  padding-bottom: 12px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 12px;
}

.newsContent {
  float: left;
  width: 60%;
  margin-right: 12px;
}

.newsAbout {
  float: right;
  width: 30%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.publication_view {
  float: left;
  width: 60%;
  margin-right: 12px;
}

.publication_cover {
  float: right;
  width: 20%;
}

.image_cover {
  float: right;
}

/* Personal Information edit styles */
.template-personal-information .edit-form fieldset {
  border: none !important;
}

.template-personal-information .edit-form {
/* Horizontal Line Top */
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  width: 100%;
}

.template-personal-information .edit-form .field {
  position: relative;
  overflow: hidden;
}

.template-personal-information .edit-form .field label:first-child {
  float: left;
  text-align: right;
  width: 17%;
}

.template-personal-information .edit-form .widget {
  text-align: left;
  width: 80%;
  top: 5%;
  right: 0;
  float: right;
  margin-top: -15px;
}

.template-personal-information .edit-form .field label {
  font-weight: normal;
}

.template-personal-information .edit-form .field label:first-child {
  font-weight: bold;
}

.template-personal-information span.fieldRequired {
  color: transparent; /* Fix hide text Required */
  margin-left: 3px;
}


/* Registration form styles */
.kssattr-formname-register .field {
  position: relative;
  overflow: hidden;
}

.kssattr-formname-register .field label span:first-child {
  float: left;
  text-align: right;
  width: 17%;
}

.kssattr-formname-register .formHelp {
  float: right;
  width: 79%;  /* fix text indentation left */
  right: 0px;
  bottom: 0px;
  margin-top: 3em;
}

.kssattr-formname-register .widget {
  text-align: left;
  width: 80%;
  top: 5%;
  position: absolute;
  right: 0;
}

#formfield-form-thematic_domain .widget, #formfield-form-institutional_domain .widget {
  text-align: left;
  width: 80%;
  right: 0;
  position: relative;
  float: right;
  margin-top: 0px;
}

#formfield-form-fullname span:first-child,
#formfield-form-username span:first-child,
#formfield-form-email span:first-child {
  margin-top: 8px;  /* fix vertical center label to input */
}

#formfield-form-username span.required::after,
#formfield-form-email span.required::after {
  position: absolute;
  margin-top: 8px;  /* fix vertical center red square to text */
}

.kssattr-formname-register .checkboxType,
.template-personal-information .checkboxType{
  /* fix vertical center label */
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}

.kssattr-formname-register .fieldErrorBox {
  float: left;
}

#formfield-form-thematic_domain label, #formfield-form-institutional_domain label {
  font-weight: normal;
}

#formfield-form-thematic_domain label:first-child, #formfield-form-institutional_domain label:first-child {
  font-weight: bold;
}

/* Terms of use - modal dialog */
.terms-of-use-dialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  background: #FFCE86 !important;
}

.terms-of-use-dialog p {
  margin-bottom: 15px;
}

.terms-of-use-dialog ul {
  list-style-type: disc;
  margin-left: 2em;
}

.terms-of-use-dialog ul li {
  margin-bottom: 0.25em;
  line-height: 1.5em;
  display: list-item;
}

.terms-of-use-dialog a {
  color: #60332a;
}

/* Terms of use */
#formfield-form-disclaimer {
  height: 60px;
  width: 60%;
  display: inline;
  float: left;
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  /* Fixes I accept Terms of use in Register for small screen */
  #formfield-form-disclaimer {
    width: 45%;
  }
}

#formfield-form-disclaimer label span:first-child {
  display: none;
}

#formfield-form-disclaimer .widget {
  top: 37%;
}

#formfield-form-disclaimer label {
  position: absolute;
  top: 0px;
  left: -10px;
  font-weight: normal;
}

#formfield-form-disclaimer .formHelp {
  display: none;  /* Hide Accept terms of use Description */
}

#formfield-form-disclaimer input {
  width: 60px !important;
  text-align: left;
  margin-top: 5px;
  margin-left: -50px;
}

/* Register button */
.actionButtons input {
  display: inline;
  margin-left: 10px;
  margin-top: 15px;

  background-color: #783F34;
  border-radius: 5px;
  border: none;
  font-size: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-weight: bold;
}

/* Send button */
#feedback_form div.formControls .context {
  margin-left: -12px;
  margin-top: 0px;

  background-color: #783F34;
  border-radius: 5px;
  border: none;
  font-size: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-weight: bold;
}

.actionButtons input:hover,
#feedback_form div.formControls .context:hover {
  background-color: #60332a;
}

/* Horizontal Line Top */
#formfield-form-fullname:before {
  border-top: 1px solid #999999;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  content: '';
}

#formfield-form-fullname {
  padding-top: 20px; /* fix space for line */
}

#formfield-form-fullname input {
  margin-top: 20px; /* fix space for line */
}

#formfield-form-institutional_domain .widget {
  margin-bottom: 20px; /* fix space for line */
}


@media screen and (min-width: 770px) {
  /* Personal information edit form styles with 2 columns for large screens */
  .template-personal-information .edit-form .field:first-child {
    float: left;
    width: 50%;
  }

  .template-personal-information .edit-form .field:last-child {
    float: right;
    width: 50%;
    clear: none;
  }

  .template-personal-information .edit-form .field label:first-child {
    width: 34%;
  }

  .template-personal-information .edit-form .widget {
    width: 63%;
  }

  /* Register form styles with 2 columns for large screens */
  #formfield-form-thematic_domain {
    float: left;
    width: 50%;
  }

  #formfield-form-institutional_domain {
    float: right;
    width: 50%;
    clear: none;
  }

  #formfield-form-thematic_domain label span:first-child,
  #formfield-form-institutional_domain label span:first-child {
    width: 34%;
  }

  #formfield-form-thematic_domain .widget,
  #formfield-form-institutional_domain .widget {
    width: 63%;
  }

  #formfield-form-thematic_domain .value,
  #formfield-form-institutional_domain .value {
    margin-left: 10px;
  }

  #formfield-form-disclaimer {
    clear: left;
  }

  .kssattr-formname-register #actionsView {
    float: left;
  }

  .kssattr-formname-register .actionButtons input {
    margin-left: 0px !important;
  }

  #formfield-form-institutional_domain:after {
    border-top: none !important;
  }
}

/* Fix "You can log in again below." text in logged_out */
.template-logged_out #content .documentDescription {
  text-align: center;
  margin-bottom: 1em;
  color: #333333;
}


/* Login page styles */
#login_form_container {
  width: 100%;
  border: 1px solid #DDDDDD;
  padding: 15px;
  overflow: hidden;
}

#login_form_container #login_form {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 1%;
}

#login_form_container #login_form_details {
  width: 69%;
  float: right;
  text-align: left;
  padding-left: 3%;
  border-left: 1px solid #DDDDDD;
}

#login_form_container #login-form label {
  text-align: left;
}

#login_form_container #login-form #__ac_name, #login_form_container #login-form #__ac_password,
#login_form_container #login-form div.formControls .context {
  width: 100%;
  margin-top: 5px;
}

#login_form_container #login-form div.formControls,
#login_form_container #login-form div.formControls input {
  margin: 0px;
}

#login_form_container #login_form_details .discreet {
  margin-bottom: 15px;
}

#login_form_container #login_form_details a {
  color: #783F34;
}

#login_form_container #login-form label {
  padding-top: 0px;
}

.template-login_form #tabbed-portlet {
  width: 100%;
}

/* Login button */
#login_form_container #login-form div.formControls .context {
  margin-left: 1px;
  background-color: #783F34;
  border-radius: 5px;
  border: none;
  font-size: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
}

/* buttons hover */
#login_form_container #login-form div.formControls .context:hover,
.section-eagle-contact div.formControls .context:hover {
  background-color: #60332a;
}

#viewlet-cookiepolicy {
  background-color: #FFCE86;
  color: #333333;
}

#viewlet-cookiepolicy h1#tlspu_cookiepolicy_title {
  color: #333333;
}

#viewlet-cookiepolicy p#tlspu_cookiepolicy_message {
  color: #333333;
}

.portlet-static-partners .partners-logos {
  margin-left: 0px;
}

div.partners-banners ul.partners-logos img {
  max-width: 200px;
}
