// Copernicus Land palette --------------------------------------------
$land-green-lighter: #E3F37D;
$land-green-light:   #BDCE49;
$land-green-primary: #A0B228;
$land-green-dark:    #819110;
$land-green-darken:  #5B6800;

$land-gray-lighter:  #EFEFEF;
$land-gray-light:    #A4A4A4;
$land-gray-dark:     #5C5C5C;
$land-gray-darken:   #1E1E1E;

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$brand-color: red;

body {
  background-image: url("./images/paper.png");
  font: 100% $font-stack;
  color: $primary-color;
  background-attachment: fixed;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
}

div.brand {
  background: $land-green-primary;
}
