// Copernicus Land PALETTE ============================================
$green-lighter: #E3F37D;
$green-light:   #BDCE49;
$green-primary: #A0B228;
$green-dark:    #819110;
$green-darken:  #5B6800;

$white:         #FFFFFF;
$gray-lighter:  #EFEFEF;
$gray-light:    #A4A4A4;
$gray-dark:     #5C5C5C;
$gray-darken:   #1E1E1E;
$black:         #000000;


// COLORS related util classes ========================================
// Green (background) -------------------------------------------------
.bg-green-lighter {
  background: $green-lighter;
}

.bg-green-light {
  background: $green-light;
}

.bg-green-primary {
  background: $green-primary;
}

.bg-green-dark {
  background: $green-dark;
}

.bg-green-darken {
  background: $green-darken;
}

// Green (color) ------------------------------------------------------
.color-green-lighter {
  color: $green-lighter;
}

.color-green-light {
  color: $green-light;
}

.color-green-primary {
  color: $green-primary;
}

.color-green-dark {
  color: $green-dark;
}

.color-green-darken {
  color: $green-darken;
}

// Gray (background) --------------------------------------------------
.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-darken {
  background: $gray-darken;
}

// Gray (color) -------------------------------------------------------
.color-gray-lighter {
  color: $gray-lighter;
}

.color-gray-light {
  color: $gray-light;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-gray-darken {
  color: $gray-darken;
}

// White (background) -------------------------------------------------
.bg-white {
  background: $white;
}

// White (color) ------------------------------------------------------
.color-white {
  color: $white;
}

// Black (background) -------------------------------------------------
.bg-black {
  background: $black;
}

// Black (color) ------------------------------------------------------
.color-black {
  color: $black;
}


// SHADOWS ============================================================
.shadow-gray-dark {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-dark
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  -moz-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
}

.shadow-gray-light {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-light
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
}


// BOXES (test colors) ================================================
.box {
  width: 15%;
  padding: 20px;
  margin-right: 20px;
  float: left;
  border-radius: 10px;
  margin-bottom: 20px;
}

.box-full-size {
  @extend .box;
  width: 90%;
}

.land-box1 {
  @extend .box;
  @extend .bg-green-darken;
  @extend .color-white;
}

.land-box2 {
  @extend .box;
  @extend .bg-green-dark;
  @extend .color-white;
}

.land-box3 {
  @extend .box;
  @extend .bg-green-primary;
  @extend .color-white;
}

.land-box4 {
  @extend .box;
  @extend .bg-green-light;
  @extend .color-gray-darken;
}

.land-box5 {
  @extend .box;
  @extend .bg-green-lighter;
  @extend .color-black;
}

.land-box6 {
  @extend .box;
  @extend .bg-black;
  @extend .color-gray-light;
}

.land-box7 {
  @extend .box-full-size;
  @extend .bg-white;
  @extend .color-green-dark;
  @extend .shadow-gray-dark;
}


// FONTS related styles ===============================================
$font-stack: Verdana, sans-serif;


// OTHER styles =======================================================
.bg-texture-paper {
  background-image: url("./images/paper.png");
  background-attachment: fixed;
}

body {
  @extend .bg-texture-paper;
  @extend .color-gray-darken;
  font: 100% $font-stack;
}

.container {
  @extend .shadow-gray-light;
  margin-left: 15%;
  margin-right: 15%;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
}

div.brand {
  background: $green-primary;
}
