// COLORS related util classes ========================================
// Green (background) -------------------------------------------------
.bg-green-lighter {
  background: $green-lighter;
}

.bg-green-light {
  background: $green-light;
}

.bg-green-primary {
  background: $green-primary;
}

.bg-green-dark {
  background: $green-dark;
}

.bg-green-darker {
  background: $green-darker;
}

// Green (color) ------------------------------------------------------
.color-green-lighter {
  color: $green-lighter;
}

.color-green-light {
  color: $green-light;
}

.color-green-primary {
  color: $green-primary;
}

.color-green-dark {
  color: $green-dark;
}

.color-green-darker {
  color: $green-darker;
}

// Gray (background) --------------------------------------------------
.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-darker {
  background: $gray-darker;
}

// Gray (color) -------------------------------------------------------
.color-gray-lighter {
  color: $gray-lighter;
}

.color-gray-light {
  color: $gray-light;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-gray-darker {
  color: $gray-darker;
}

// White (background) -------------------------------------------------
.bg-white {
  background: $white;
}

// White (color) ------------------------------------------------------
.color-white {
  color: $white;
}

// Black (background) -------------------------------------------------
.bg-black {
  background: $black;
}

// Black (color) ------------------------------------------------------
.color-black {
  color: $black;
}


// BORDERS related styles =============================================
.boder-radius-primary {
  border-radius: $dim2;
}


// SHADOWS ============================================================
.shadow-gray-dark {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-dark
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  -moz-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
}

.shadow-gray-light {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-light
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
}


// BOXES (test colors) ================================================
.box {
  @extend .boder-radius-primary;

  width: $dim-large;
  padding: $dim5;
  margin-right: $dim5;
  float: left;
  margin-bottom: $dim5;
}

.box-full-size {
  @extend .box;

  width: 90%;
}

.land-box1 {
  @extend .box;
  @extend .bg-white;
  @extend .color-gray-dark;
  @extend .shadow-gray-dark;
  width: 100%;
  height: 200px;

  .land-icon-box {
    min-height: 50%;
    img {
      width: 40%;
      margin-top: 15%;
    }
  }

  h4 {
    margin-top: 10%;
  }
}

.land-box1:hover {
  border: $dim2 solid $green-lighter;
}


// GENERAL styles =====================================================
.bg-texture {
  background-image: url("../images/bg-old-mathematics2.png");
  background-attachment: fixed;
  background-color: $gray-lighter;
}

.margin-content {
  margin-left: 15%;
  margin-right: 15%;
}

body {
  @extend .bg-texture;
  @extend .color-gray-darker;

  padding: 0px;
  margin: 0px;

  position: relative;
  z-index: 1;
}

a {
  @extend .color-green-primary;
}

a:hover {
  @extend .color-green-dark;
}


// HEADER -------------------------------------------------------------
#header-section {
  background-image: url("./../images/header-main-photo.jpg");
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  height: $dim13 + $dim9;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  width: 100%;
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  .container-fluid#land-brand-utils {
    background: transparentize($white, 0.2);

    .content {
      @extend .margin-content;
      padding-top: $dim2;

      .brand {
        .img-brand {
          margin-top: $dim2;
          height: ($dim9 + $dim3);
        }
        .website-title {
          text-decoration: none;
          position: relative;
          top: -$dim3;
        }
      }
      .utils {
        .list-inline.land-list-separated {
          margin-bottom: $dim3;

          li:after {
            @extend .color-green-primary;
            content: '|';
            margin-left: $dim3;
          }

          li:last-child:after {
            content: '';
          }

          li:last-child {
            margin-right: -$dim2;
          }

          li {
            padding-right: 0px;
          }
        }

        .col-lg-8.col-md-8.col-sm-12 {
          padding: 0;  // TODO: Better fix to have a nice space between buttons
        }

        .btn.btn-default, input {
          font-size: 16px;
          margin-bottom: $dim4;
        }

        input.form-control.search-bar {
          height: 100%;  // TODO: Better fix to vertical align btn default and search bar
          border-color: $white;
        }
      }
    }
  }
}

.main-content {
  @extend .shadow-gray-light;
  @extend .margin-content;

  background: #FFFFFF;
  padding: $dim3;
  border-top-left-radius: $dim2;
  border-top-right-radius: $dim2;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 0px;
}

.breadcrumbs {
  @extend .margin-content;

  padding-top: $dim3;
  padding-left: $dim3;
  margin-top: -$dim7;

  .breadcrumb {
    padding: 0px;
    background: $transparent;

    li {
      color: $gray-dark;
    }

    li.home:before {
      content: "\f041  ";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      margin-right: $dim3;
    }
  }
}

.land-jumbotron {
  @extend .shadow-gray-dark;
  @extend .margin-content;
  @extend .color-gray-dark;

  background: $white;
  padding: $dim6;
  border-top-left-radius: $dim2;
  border-top-right-radius: $dim2;
  border-bottom-left-radius: $dim2;
  border-bottom-right-radius: $dim2;
  margin-top: 0px;

  a {
    color: $gray-dark;
    text-decoration: none;
  }

  a h4 {
    color: $gray-darker;
  }

  a:hover {
    color: $gray-darker;
  }

  a:hover h4 {
    color: $green-dark;
  }

  a:hover .circle img {
    border: ($dim1 + $dim2) solid $green-lighter;
  }

  .circle {
    width: 55%;
    height: 55%;
    position: relative;
    left: 21%;
  }

  .circle img {
    border-radius: 50%;
    border: ($dim1 + $dim2) solid $green-primary;
    width: 100%;
  }
}

.images-slider {
  @extend .shadow-gray-dark;
  @extend .margin-content;

  margin-top: $dim8;
  border-radius: 0px;

  .carousel-caption {
    background: transparentize($white, 0.2);
    padding-left: $dim6;
    padding-right: $dim6;
    padding-top: $dim2;
    padding-bottom: $dim2;
    border-radius: $dim2;
    width: 35%;
    text-align: left;
    margin-left: 30%;
    margin-bottom: $dim8;
    h4 {
      font-weight: bold;
      @extend .color-gray-darker;
      text-shadow: none;
    }

    p {
      @extend .color-gray-dark;
      text-shadow: none;
    }
  }
}

.menu-sections {
  @extend .margin-content;

  background: $transparent;
  padding-left: $dim6;
  padding-right: $dim6;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: $dim8;
  border-radius: 0px;
  height: $dim12+40;
}

footer {
  @extend .margin-content;

  .partners {
    @extend .bg-green-primary;
    @extend .color-white;

    padding: $dim6 $dim6 $dim6 $dim6;

    .partners-banners {
      @extend .bg-white;
      @extend .color-gray-dark;

      border-radius: $dim2;
      padding: $dim4;

      h4 > a:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
      }

      img {
        max-height: $dim10;
        margin-left: $dim5;
        margin-right: $dim5;
        margin-bottom: $dim2;
      }
    }
  }

  .text {
    @extend .bg-green-dark;
    @extend .color-gray-darker;

    padding: $dim2 $dim5 $dim2 $dim5;
    text-align: center;
    font-size: 16px;

    .list-inline.land-list-separated {
      margin-bottom: 0px;

      li:after {
        @extend .color-green-primary;
        content: '|';
        margin-left: $dim3;
      }

      li:last-child:after {
        content: '';
      }

      li:last-child {
        margin-right: -$dim2;
      }

      li {
        padding-right: 0px;
      }

      .go-top {
        color: $gray-darker;
        text-decoration: none;
      }

      .go-top:hover {
        color: $green-darker;
      }
    }
  }
}

#content-section.homepage {
  top: 300px;
  position: relative;
  z-index: 2 !important;
}

#content-section.simple-page {
  top: 400px;
  position: relative;
  z-index: 2 !important;
}

.land-title {
  border-bottom: $dim1 solid $green-light;
}

.event-date {
  @extend .color-gray-dark;

  float: left;
  margin-right: 1rem;
  display: inline-block;
  padding: $dim3;
  border: 2px solid $gray-lighter;
  border-radius: $dim3;
  text-align: center;
  font-size: smaller;
  min-width: 4em;
}

.news-preview {
  float: left;
  margin-right: 1rem;
  display: inline-block;
  padding: .25rem;
  border-radius: $dim3;
  text-align: center;
  font-size: smaller;
  min-width: 4em;

  .land-img-preview {
    border-radius: $dim3;
    width: $dim9;
    height: $dim9;
  }
}

.event-month,
.event-day,
.event-year {
  display: block;
  line-height: 1;
}

.event-month {
  text-transform: uppercase;
}

.event-day {
  font-size: 200%;
}

.snippet .event-title,
.snippet .news-title {
  font-weight: normal;
  margin-bottom: 0;
}

.snippet .event-body h4,
.snippet .news-body h4 {
  margin-top: 0px;
}

.snippet .event-body p,
.snippet .news-body p {
  @extend .color-gray-dark;
}

.snippet .event-body,
.snippet .news-body {
  overflow: hidden;
}

footer .text ul li .fa-arrow-up {
  @extend .color-green-primary;
}

.land-img-preview {
  border: none;
}

.navbar-default {
  position: relative;
  top: -$dim3;
  background-image: none;
  border-radius: 0px;
  border: none;
  color: $gray-dark;
  font-size: 16px;

  .fa.fa-home {
    font-size: 18px;
  }
}

.navbar-default.sticky {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  border-top: 0;
  border-bottom: $dim0 solid $green-dark;
}

.navbar-nav ul.dropdown-menu {
  @extend .bg-green-primary;
  border: none;
  border-radius: 0px;
  margin-top: $dim2;
  font-size: 16px;

  li {
    padding: 0px;
  }

  li a {
    height: $dim8;
    padding-left: $dim4;
    padding-right: $dim4;
    padding-top: $dim2;
    padding-bottom: 0px;
  }

  li:first-child {
    margin-top: -5px;
  }

  li:last-child {
    margin-bottom: -5px;
  }

  li a:hover {
    @extend .bg-green-light;
  }

  li a {
    @extend .color-gray-darker;
  }
}

.btn-default,
.btn-primary,
.btn-warning,
.btn-success {
  text-shadow: none;
  background-image: none;
  box-shadow: none;
  border: none;
}

.listing.block-inset ul {
  padding-left: 0px;

  li {
    list-style: none;
  }
}

ul.user-corner-menu {
  padding-left: $dim2;

  li {
    font-size: 16px;
    list-style-type: none;
    padding-bottom: $dim3;

    img {
      width: $dim5;
    }
  }
}

.land-doc-info {
  @extend .color-gray-light;
  margin-bottom: $dim5;
}
