// Dimensions (nice proportions for spaces, borders, paddings) ========
$dim15: 504px;
$dim13: 315px;
$dim12: 197px;
$dim11: 123px;
$dim10: 77px;
$dim9: 48px;
$dim8: 36px;
$dim7: 28px;
$dim6: 24px;
$dim5: 18px;
$dim4: 16px;
$dim3: 10px;
$dim2: 6px;
$dim1: 3px;
$dim0: 1px;

$dim-large: 15%;


// Copernicus Land PALETTE ============================================
$green-lighter: #E3F37D;
$green-light:   #BDCE49;
$green-primary: #A0B228;
$green-dark:    #819110;
$green-darken:  #5B6800;

$white:         #FFFFFF;
$gray-lighter:  #EFEFEF;
$gray-light:    #A4A4A4;
$gray-dark:     #5C5C5C;
$gray-darken:   #1E1E1E;
$black:         #000000;

$transparent: transparent;


// COLORS related util classes ========================================
// Green (background) -------------------------------------------------
.bg-green-lighter {
  background: $green-lighter;
}

.bg-green-light {
  background: $green-light;
}

.bg-green-primary {
  background: $green-primary;
}

.bg-green-dark {
  background: $green-dark;
}

.bg-green-darken {
  background: $green-darken;
}

// Green (color) ------------------------------------------------------
.color-green-lighter {
  color: $green-lighter;
}

.color-green-light {
  color: $green-light;
}

.color-green-primary {
  color: $green-primary;
}

.color-green-dark {
  color: $green-dark;
}

.color-green-darken {
  color: $green-darken;
}

// Gray (background) --------------------------------------------------
.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-darken {
  background: $gray-darken;
}

// Gray (color) -------------------------------------------------------
.color-gray-lighter {
  color: $gray-lighter;
}

.color-gray-light {
  color: $gray-light;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-gray-darken {
  color: $gray-darken;
}

// White (background) -------------------------------------------------
.bg-white {
  background: $white;
}

// White (color) ------------------------------------------------------
.color-white {
  color: $white;
}

// Black (background) -------------------------------------------------
.bg-black {
  background: $black;
}

// Black (color) ------------------------------------------------------
.color-black {
  color: $black;
}


// BORDERS related styles =============================================
.boder-radius-primary {
  border-radius: $dim3;
}


// SHADOWS ============================================================
.shadow-gray-dark {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-dark
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  -moz-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
}

.shadow-gray-light {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-light
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
}


// BOXES (test colors) ================================================
.box {
  @extend .boder-radius-primary;

  width: $dim-large;
  padding: $dim5;
  margin-right: $dim5;
  float: left;
  margin-bottom: $dim5;
}

.box-full-size {
  @extend .box;

  width: 90%;
}

.land-box1 {
  @extend .box;
  @extend .bg-green-darken;
  @extend .color-white;
}

.land-box2 {
  @extend .box;
  @extend .bg-green-dark;
  @extend .color-white;
}

.land-box3 {
  @extend .box;
  @extend .bg-green-primary;
  @extend .color-white;
}

.land-box4 {
  @extend .box;
  @extend .bg-green-light;
  @extend .color-gray-darken;
}

.land-box5 {
  @extend .box;
  @extend .bg-green-lighter;
  @extend .color-black;
}

.land-box6 {
  @extend .box;
  @extend .bg-black;
  @extend .color-gray-light;
}

.land-box7 {
  @extend .box-full-size;
  @extend .bg-white;
  @extend .color-green-dark;
  @extend .shadow-gray-dark;
}

.land-box8 {
  @extend .box;
  @extend .bg-white;
  @extend .color-gray-dark;
  @extend .shadow-gray-dark;

  height: 200px;
  width: 12%;
}

// FONTS related styles ===============================================
$font-stack: Verdana, sans-serif;

// http://typecast.com/blog/a-more-modern-scale-for-web-typography
$font-size6: 3em;
$font-size5: 2.25em;
$font-size4: 1.75em;
$font-size3: 1.5em;
$font-size2: 1.125em;
$font-size1: 1em;
$font-size0: 0.875em;

h1 {
  font-size: $font-size6;
}

h2 {
  font-size: $font-size5;
}

h3 {
  font-size: $font-size4;
}

blockquote {
  font-size: $font-size3;
}

h4 {
  font-size: $font-size2;
}


// GENERAL styles =====================================================
.bg-texture-paper {
  background-image: url("../images/paper.png");
  background-attachment: fixed;
  background-color: $gray-lighter;
}

.margin-content {
  margin-left: $dim-large;
  margin-right: $dim-large;
}


body {
  @extend .bg-texture-paper;
  @extend .color-gray-darken;

  font: 100% $font-stack;
  padding: 0px;
  margin: 0px;
}

a {
  @extend .color-green-primary;
}

a:hover {
  @extend .color-green-dark;
}

.main-content {

}

// HEADER -------------------------------------------------------------
#header-section {
  background-image: url("./../images/header-main-photo.jpg");
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  height: $dim13;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

header {
  width: 100%;
  margin-top: -30px;
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  .content {
    background: transparentize($white, 0.2);
    height: $dim10;
    padding-left: $dim-large;
    padding-right: $dim-large;

    .brand {
      .img-brand {
        height: $dim10;
        float: left;
      }

      .website-title {
        position: relative;
        top: $dim7;
        left: $dim2;
        text-decoration: none;
        h3 {
          font-weight: normal;
        }
      }
    }

    .utils {
      float: right;
    }
  }

  nav {
    background-color: $green-primary;
    margin: 0;
    overflow: hidden;

    ul {
      @extend .margin-content;

      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;

        a {
          color: $gray-darken;
          background-color: $green-primary;
          display: block;
          padding: $dim3;
          text-decoration: none;
        }
      }

      a:hover {
        background-color: $green-light;

      }

    }
  }
}

.main-content {
  @extend .shadow-gray-light;
  @extend .margin-content;

  background: #FFFFFF;
  padding: $dim6;
  border-top-left-radius: $dim3;
  border-top-right-radius: $dim3;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: $dim8;

  article.main {

  }

  aside {
    aside1 {
    }

    aside2 {
    }
  }
}

.jumbotron {
  @extend .shadow-gray-dark;
  @extend .margin-content;

  background: $white;
  padding: $dim6;
  border-top-left-radius: $dim3;
  border-top-right-radius: $dim3;
  border-bottom-left-radius: $dim3;
  border-bottom-right-radius: $dim3;
  height: $dim13;
  margin-top: -$dim9;
}

.images-slider {
  @extend .shadow-gray-dark;
  @extend .margin-content;

  background-image: url("./../images/header-main-photo.jpg");
  padding: $dim6;
  margin-top: $dim8;
  border-radius: 0px;
  height: $dim13;
}

.menu-sections {
  @extend .margin-content;

  background: $transparent;
  padding: $dim6;
  margin-top: $dim8;
  border-radius: 0px;
  height: $dim12+40;
}

footer {
  @extend .margin-content;

  .partners {
    @extend .bg-green-primary;
    @extend .color-white;

    height: $dim11;
    padding: $dim5 $dim5 $dim5 $dim5;
  }

  .text {
    @extend .bg-green-dark;
    @extend .color-gray-darken;

    padding: $dim2 $dim5 $dim2 $dim5;
    text-align: center;
  }

}
