// Dimensions (nice proportions for spaces, borders, paddings) ========
$dim15: 504px;
$dim13: 315px;
$dim12: 197px;
$dim11: 123px;
$dim10: 77px;
$dim9: 48px;
$dim8: 36px;
$dim7: 28px;
$dim6: 24px;
$dim5: 18px;
$dim4: 16px;
$dim3: 10px;
$dim2: 6px;
$dim1: 3px;
$dim0: 1px;

$dim-large: 15%;


// Copernicus Land PALETTE ============================================
$green-lighter: #E3F37D;
$green-light:   #BDCE49;
$green-primary: #A0B228;
$green-dark:    #819110;
$green-darken:  #5B6800;

$white:         #FFFFFF;
$gray-lighter:  #EFEFEF;
$gray-light:    #A4A4A4;
$gray-dark:     #5C5C5C;
$gray-darken:   #1E1E1E;
$black:         #000000;

$transparent: transparent;


// COLORS related util classes ========================================
// Green (background) -------------------------------------------------
.bg-green-lighter {
  background: $green-lighter;
}

.bg-green-light {
  background: $green-light;
}

.bg-green-primary {
  background: $green-primary;
}

.bg-green-dark {
  background: $green-dark;
}

.bg-green-darken {
  background: $green-darken;
}

// Green (color) ------------------------------------------------------
.color-green-lighter {
  color: $green-lighter;
}

.color-green-light {
  color: $green-light;
}

.color-green-primary {
  color: $green-primary;
}

.color-green-dark {
  color: $green-dark;
}

.color-green-darken {
  color: $green-darken;
}

// Gray (background) --------------------------------------------------
.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-darken {
  background: $gray-darken;
}

// Gray (color) -------------------------------------------------------
.color-gray-lighter {
  color: $gray-lighter;
}

.color-gray-light {
  color: $gray-light;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-gray-darken {
  color: $gray-darken;
}

// White (background) -------------------------------------------------
.bg-white {
  background: $white;
}

// White (color) ------------------------------------------------------
.color-white {
  color: $white;
}

// Black (background) -------------------------------------------------
.bg-black {
  background: $black;
}

// Black (color) ------------------------------------------------------
.color-black {
  color: $black;
}


// BORDERS related styles =============================================
.boder-radius-primary {
  border-radius: $dim3;
}


// SHADOWS ============================================================
.shadow-gray-dark {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-dark
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  -moz-box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
  box-shadow: 0px 2px 7px 0px rgba(92,92,92,0.8);
}

.shadow-gray-light {
  // http://www.cssmatic.com/box-shadow
  // Horizontal Length:  0
  // Vertical Length:    2
  // Blur Radius:        7
  // Spread Radius:      0
  // Shadow Color:       $gray-light
  // Background Color:   $white
  // Opacity:            0.80

  -webkit-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
  box-shadow: 0px 2px 7px 0px rgba(239,239,239,1);
}


// BOXES (test colors) ================================================
.box {
  @extend .boder-radius-primary;

  width: $dim-large;
  padding: $dim5;
  margin-right: $dim5;
  float: left;
  margin-bottom: $dim5;
}

.box-full-size {
  @extend .box;

  width: 90%;
}

.land-box1 {
  @extend .box;
  @extend .bg-white;
  @extend .color-gray-dark;
  @extend .shadow-gray-dark;
  width: 100%;
  height: 200px;
}

// FONTS related styles ===============================================
$font-stack: Verdana, sans-serif;

/* TODO: Need it?
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
$font-size6: 3em;
$font-size5: 2.25em;
$font-size4: 1.75em;
$font-size3: 1.5em;
$font-size2: 1.125em;
$font-size1: 1em;
$font-size0: 0.875em;

h1 {
  font-size: $font-size6;
}

h2 {
  font-size: $font-size5;
}

h3 {
  font-size: $font-size4;
}

blockquote {
  font-size: $font-size3;
}

h4 {
  font-size: $font-size2;
}
*/

// GENERAL styles =====================================================
.bg-texture-paper {
  background-image: url("../images/paper.png");
  background-color: $gray-lighter;
}

.margin-content {
  margin-left: 15%;
  margin-right: 15%;
}


body {
  @extend .bg-texture-paper;
  @extend .color-gray-darken;

  font: 100% $font-stack;
  padding: 0px;
  margin: 0px;

  position: relative;
  z-index: 1;
}

a {
  @extend .color-green-primary;
}

a:hover {
  @extend .color-green-dark;
}


// HEADER -------------------------------------------------------------
#header-section {
  background-image: url("./../images/header-main-photo.jpg");
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  height: $dim13;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  width: 100%;
  background-size:cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  .container-fluid {
    background: transparentize($white, 0.2);

    .content {
      @extend .margin-content;
      padding: 10px;

      .brand {
        .img-brand {
          height: $dim9;
        }
        .website-title {
          text-decoration: none;
        }
      }
      .utils {

      }
    }
  }
}

.main-content {
  @extend .shadow-gray-light;
  @extend .margin-content;

  background: #FFFFFF;
  padding: $dim6;
  border-top-left-radius: $dim3;
  border-top-right-radius: $dim3;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: $dim8;
}

.land-jumbotron {
  @extend .shadow-gray-dark;
  @extend .margin-content;

  background: $white;
  padding: $dim6;
  border-top-left-radius: $dim3;
  border-top-right-radius: $dim3;
  border-bottom-left-radius: $dim3;
  border-bottom-right-radius: $dim3;
  margin-top: -$dim9;
}

.images-slider {
  @extend .shadow-gray-dark;
  @extend .margin-content;

  background-image: url("./../images/header-main-photo.jpg");
  padding: $dim6;
  margin-top: $dim8;
  border-radius: 0px;
  height: $dim13;
}

.menu-sections {
  @extend .margin-content;

  background: $transparent;
  padding: $dim6;
  margin-top: $dim8;
  border-radius: 0px;
  height: $dim12+40;
}

footer {
  @extend .margin-content;

  .partners {
    @extend .bg-green-primary;
    @extend .color-white;

    height: $dim11;
    padding: $dim5 $dim5 $dim5 $dim5;
  }

  .text {
    @extend .bg-green-dark;
    @extend .color-gray-darken;

    padding: $dim2 $dim5 $dim2 $dim5;
    text-align: center;
  }

}

#content-section {
  top: 300px;
  position: relative;
  z-index: 2 !important;
}

.list-inline.land-user-menu li:after {
  @extend .color-green-primary;
  content: '|';
  margin: 0 10px;
}

.list-inline.land-user-menu li:last-child:after {
  content: '';
}
